.section01 {
    width: 100%;
    padding: 25px 200px;
    position: relative;
    display: flex;
    background: url('../../assets/main1.png') no-repeat right center;
}

.section01 .section01-content div{
    font-size: 10.5rem;
    font-weight: 700;
}

.section02 {
    width: 100%;
    padding: 25px 200px;
    position: relative;
    display: flex;
    background-color: blue;
}