.section01 {
    width: 100%;
    padding: 25px 200px;
    position: relative;
    display: flex;
    background: url('../../assets/main1.png') no-repeat right center;
}

.section01 .section01-content div{
    font-size: 10.5rem;
    font-weight: 700;
}

.section2-content {
    padding: 25px 200px;
  }
  
  .song-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .song-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
  }